/* service full section */
.service_section {
  height: 800px;
  position: relative;
  z-index: 1;
}
.service_section::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../images/car.jpg");
  opacity: 0.6;
  filter: brightness(60%);
  top: 0;
}

/* service card style */

.service_container {
  position: relative;
  cursor: pointer;
}
.service_card {
  background: rgba(0, 0, 0, 0) url("../../../images/course-white.png") no-repeat
    scroll center center;
  background-size: cover;
  overflow: hidden;
  padding: 34px 25px 40px;
  position: relative;
  height: 300px;
  width: 290px;
  transition: all 1s ease 0s;
  z-index: 5;
}
.service_card .icons {
  color: #dec839;
  display: inline-block;
  font-size: 48px;
  margin-bottom: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.service_card h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 19px;
  padding-bottom: 19px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.service_card h5::before {
  background-color: #dec839;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.service_card p {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* Course Hover */
.service_card:hover {
  background-image: url("../../../images/course-color.png");
  transform: rotate(360deg);
}
.service_card:hover .icons {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(327deg)
    brightness(104%) contrast(100%) !important;
}
.service_card:hover h5 {
  color: #fff;
}
.service_card:hover h5::before {
  background-color: #fff;
}
.service_card:hover p {
  color: #fff;
}
.service_card:hover h4 {
  color: #fff;
}
