.main_header{
          background-image: url('../../../images/car9.jpg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          height: 100%;
          padding-bottom: 70px;
          top: 0;
}
