.main_header{
          background-image: url('../../../images/car9.jpg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          height: 85vh;
          top: 0;
}

.header_text{
          color: white;
}
.header_text h1{
          font-size: 4em;
}
.header_text h1 span{
          color: #e5bf29;
}
.header_content{
          height: 60vh;
}
.btn:hover{
          background-color: #e5bf29 !important;
          border-color: transparent;
}
.button:hover{
          background-color: #FFF !important;
          border-color: transparent; 
}
.form_card{
          width: 280px;
          position: relative;
          z-index: 1;
          
}
.form_card::after{
          content: '';
          width: 280px;
          height: 360px;
          background-color: gray;
          position: absolute;
          top: 0;
          z-index: -1;
          opacity: 0.6;

}
.form_card input{
          font-size: 12px;
}
.top_content{
          display: flex;
          justify-content: space-between;
          padding: 8px 6px 2px 6px;
          background-color: #e5bf29;
          align-items: center;
}
.top_content h5{
          font-weight: bold;
}
.icon{
          height: 29px;
}
#submit_btn{
          height : 37px !important;
          font-size: 17px !important;
          background-color: #e5bf29;
          border-color: transparent;
          font-weight: bold;
}
#submit_btn:hover{
          background-color: #fff;
          color: #e5bf29;
}
#text_select{
          font-size: 13px !important;
}