.ship_form{
          margin: 30px;     
}
.login_section{
          height: 100vh;
          width: 100vw;
          padding-bottom: 100px;
          position: relative;
}
.login_section::after{
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: -1;
          background-image: url('../../../images/car9.jpg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          top: 0;

}
.ship_form input{
          display: block;
          margin: 20px auto;
          padding: 5px;
          border: 1px solid gray;
          border-radius: 5px;
          width: 370px;
          height: 45px;
}

.btns{
          display: block;
          margin: 7px auto;
          width:  370px;
          height : 38px;
          border-radius: 16px;
          border-style: none;
          background-color: #99da84;
          
}
.icon{
          float: left;
          width: 30px;
}
.form_container{
          border-radius: 5px;
          width: 560px;
          padding: 25px;
          height: auto;
          text-align: center;
          margin: 30px auto;
          background-color: rgb(238, 238, 238);
}
.login_container{
          border: 1px solid grey;
          width: 500px;
          height: 400px;
          margin: 30px auto;
          background: rgb(240, 240, 240);
          border-radius: 10px;
} 
.login_container input[type="submit"],.form_container input[type="submit"]{
          width: 370px;
          height: 45px;
          margin-top: 10px;
          background-color: #71BA58;
          border: none;
          color: white;
          border-radius: 10px;
}

@media screen and (max-width: 600px) {
          .form_container{
                    width: 100%;
                    padding: 10px 0;
          } 
          .ship_form input{
                    width: 360px;
          } 
          .btns{
                    width: 360px;
          }
          .login_container input[type="submit"],.form_container input[type="submit"]{
                    width: 360px;
          }
          .loggedIn_text{
                    padding: 10px 0;
                    font-size: 17px;
          }
}
@media screen and (max-width: 375px) {
          
          .form_container{
                    width: 100%;
                    padding: 10px 0;
          } 
          .ship_form input{
                    width:290px;
          } 
          .btns{
                    width: 290px;
          }
          .login_container input[type="submit"],.form_container input[type="submit"]{
                    width: 290px;
          }
          .loggedIn_text{
                    padding: 10px 0;
                    font-size: 15px;
          }
}
@media screen and (max-width: 360px) {
          .form_container{
                    width: 100%;
                    padding: 10px 0;
          } 
          .ship_form input{
                    width:278px;
          } 
          .btns{
                    width: 278px;
          }
          .login_container input[type="submit"],.form_container input[type="submit"]{
                    width: 278px;
          }
          .loggedIn_text{
                    padding: 10px 0;
                    font-size: 14px;
          }
}